
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary rounded-top p-4">
        <div class="row">
            <div class="col-12 col-sm-6 text-center text-sm-start">
                &copy; <a href="#">Your Site Name</a>, All Right Reserved.
            </div>
            <div class="col-12 col-sm-6 text-center text-sm-end">
                <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                <br>Distributed By: <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Content End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>



<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../lib/chart/chart.min.js"></script>
<script src="../lib/easing/easing.min.js"></script>
<script src="../lib/waypoints/waypoints.min.js"></script>
<script src="../lib/owlcarousel/owl.carousel.min.js"></script>
<script src="../lib/tempusdominus/js/moment.min.js"></script>
<script src="../lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="../lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="../js/main.js"></script>
<script>


    function getsubcatData() {
            var catId = document.getElementById("catId").value;
            $.ajax({
                url: " /category/getsubcategory",
                method: "POST",
                data: {
                    "categoryId": catId
                },
                success: function (res) {
                    $("#subcatId").html(res)
                }
            })
        }
              function getextracatData() {
            var catId = document.getElementById("catId").value;
            var subcatId = document.getElementById("subcatId").value
            $.ajax({
                url: "/brand/getextracategoryData",
                method: "POST",
                data: {
                    "categoryId": catId,
                    "subcategoryId": subcatId
                },
                success: function (res) {
                    $("#extracatId").html(res)
                }
            })
        }
        function getbrandData() {
            var extraId = document.getElementById("extracatId").value;
            $.ajax({
                url: "/type/getextbrandData",
                method: "POST",
                data: {
                    extraid: extraId
                },
                success: function (res) {
                    $("#brandId").html(res)
                }
            })
        }
        function getBrandTypeData() {
            let catId = document.getElementById("catId").value;
            let subcatId = document.getElementById("subcatId").value;
            let extracatId = document.getElementById("extracatId").value;
            
            $.ajax({
                url: "/product/getBrandType",
                method: "POST",
                data: {
                    categoryId: catId,
                    subcategoryId: subcatId,
                    extracategoryId: extracatId,
                },
                success: (res) => {
                    $("#BrandType").html(res);
                }
            })
        }
    
        </script>
</body>

</html>