<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DarkPan - Bootstrap 5 Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
      
         
    <form action="/login/verify-otp" method="POST">
        <h1>Verify OTP</h1>
        <label for="otp">Enter OTP:   <a id="timer">60</a></label>

        <input type="text" id="otp" name="otp" required>
        <a href=""><button type="submit">Verify</button></a>
    </form>



    <a href="/login/resendotp" class="resend" id="resend-link" style="display: none;"><button>Resend OTP</button></a>

    <script>
        let timer = 60;
        const timerElement = document.getElementById('timer');
        const resendLink = document.getElementById('resend-link');

        const countdown = setInterval(() => {
            timer--;
            timerElement.textContent = timer;
            if (timer === 0) {
                clearInterval(countdown);
                timerElement.style.display = 'none';
                resendLink.style.display = 'block';
            }
        }, 1000);
    </script>
     <script>
        <% if( locals.flash.success &&  locals.flash.success.length >0){ %>
           new Noty({
           type: 'success',
           layout: 'topCenter',
           theme: 'light',
           text: "<%= locals.flash.success %>",
           timeout:1000,
         }).show();
         <% } %>
      </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>